Repository dapr/dapr-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, mypy, pytest

ruff-format:
  name: Ruff format
  entry: uv run ruff format
  language: system
  stages:
  - pre-push

mypy:
  name: MyPy type checking
  entry: uv run mypy
  args:
  - --config-file=mypy.ini
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Run unit tests
  entry: uv run pytest
  args:
  - tests
  - -m
  - not integration
  - --tb=short
  - -q
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: remove legacy mkdocs file
  mkdocs.yml
Due: none

feat(devex): add make command for running e2e tests post hooks
  Makefile
  docs/development/README.md
Due: none

fix: ensure all hooks run on push
  .pre-commit-config.yaml
Due: none

fix: correct test-install make command
  Makefile
Due: none

fix: revert metadata back to dapr agents instead of python-sdk
  dapr_agents/__init__.py
  dapr_agents/agents/__init__.py
  dapr_agents/agents/base.py
  dapr_agents/agents/components.py
  dapr_agents/agents/configs.py
  schemas/agent-metadata/index.json
  schemas/agent-metadata/latest.json
  schemas/agent-metadata/v0.11.1.json
  scripts/generate_schema.py
  tests/agents/durableagent/test_durable_agent.py
Due: ruff-format, mypy, pytest

Adds Dapr Workflow tool
  dapr_agents/agents/durable.py
  dapr_agents/tool/workflow/__init__.py
  dapr_agents/tool/workflow/mcp_workflow_gateway.py
  dapr_agents/tool/workflow/tool_context.py
Due: ruff-format, mypy, pytest

wip
  dapr_agents/agents/durable.py
Due: ruff-format, mypy, pytest

feat: enable hot-reloading of DurableAgent through Dapr Configuration Store with subscribing.
  dapr_agents/agents/base.py
  dapr_agents/agents/configs.py
  dapr_agents/agents/durable.py
  examples/09-durable-agent-hot-reload/README.md
  examples/09-durable-agent-hot-reload/agent.py
  examples/09-durable-agent-hot-reload/components/configstore.yaml
  examples/09-durable-agent-hot-reload/components/openai.yaml
  examples/09-durable-agent-hot-reload/components/workflowstate.yaml
  examples/README.md
  quickstarts/11_durable_agent_hot_reload.py
  quickstarts/README.md
  quickstarts/components/configstore.yaml
  tests/agents/test_hot_reload.py
  tests/integration/quickstarts/test_11_hot_reload.py
Due: ruff-format, mypy, pytest

style: appease linter
  dapr_agents/agents/base.py
Due: ruff-format, mypy, pytest

fix: fixes for 04 tests
  dapr_agents/agents/durable.py
  examples/04-multi-agent-workflows/components/registrystore_agent.yaml
  tests/integration/examples/test_04_multi_agent_workflows.py
  tests/integration/quickstarts/conftest.py
Due: ruff-format, mypy, pytest

fix: final qs fixes
  dapr_agents/llm/dapr/chat.py
  dapr_agents/tool/utils/function_calling.py
  tests/integration/quickstarts/conftest.py
Due: ruff-format, mypy, pytest

fix(mcp): random fixes i needed for release note agent
  dapr_agents/agents/durable.py
  dapr_agents/tool/base.py
  dapr_agents/tool/mcp/client.py
  dapr_agents/tool/mcp/schema.py
  dapr_agents/tool/mcp/transport.py
  tests/agents/durableagent/test_durable_agent.py
  tests/agents/durableagent/test_mcp_streamable_http.py
Due: ruff-format, mypy, pytest

fix(bug): ensure deterministic wf execution on orchestrator
  dapr_agents/agents/durable.py
Due: ruff-format, mypy, pytest

feat(metadata): ensure agent deregisters upon shutdown
  dapr_agents/agents/base.py
  dapr_agents/agents/components.py
  dapr_agents/agents/durable.py
  dapr_agents/agents/standalone.py
Due: ruff-format, mypy, pytest

fix: pre-commit trim
  examples/03-agent-based-workflows/sequential.yaml
  examples/04-multi-agent-workflows/dapr-roundrobin.yaml
Due: none

fix: address pr comments
  dapr_agents/agents/base.py
  dapr_agents/agents/configs.py
  scripts/generate_metadata_schema.py
  scripts/generate_schema.py
Due: ruff-format, mypy, pytest

feat(hot-reload): ensure both redis and postgres work as configuration stores
  dapr_agents/agents/base.py
  dapr_agents/agents/configs.py
  examples/09-durable-agent-hot-reload/README.md
  examples/09-durable-agent-hot-reload/agent.py
  examples/09-durable-agent-hot-reload/components/configstore-postgres.yaml
  tests/agents/test_hot_reload.py
Due: ruff-format, mypy, pytest

feat(registry): rework agent registry to store agents as individual keys with a meta field
  dapr_agents/agents/components.py
  tests/agents/durableagent/test_durable_agent.py
Due: ruff-format, mypy, pytest

chore(format): handle pre-commit
  dapr_agents/agents/components.py
  tests/agents/durableagent/test_durable_agent.py
Due: ruff-format, mypy, pytest

fix: undo things i changed with local mcp pkg bump
  dapr_agents/tool/mcp/client.py
Due: ruff-format, mypy, pytest

style: uv run ruff format
  tests/agents/durableagent/test_durable_agent.py
Due: ruff-format, pytest

chore: generate new metadata schema for changes
  schemas/agent-metadata/index.json
  schemas/agent-metadata/v0.12.0.json
  schemas/agent-metadata/v0.13.0.json
Due: none

chore: pre-commit
  schemas/agent-metadata/index.json
  schemas/agent-metadata/latest.json
  schemas/agent-metadata/v0.12.0.json
  schemas/agent-metadata/v0.13.0.json
Due: none

fix: address pr comments
  dapr_agents/agents/components.py
  dapr_agents/agents/orchestrators/base.py
  dapr_agents/agents/schemas.py
  tests/agents/durableagent/test_durable_agent.py
Due: ruff-format, mypy, pytest

chore: pre-commit
  dapr_agents/agents/components.py
  tests/agents/durableagent/test_durable_agent.py
Due: ruff-format, mypy, pytest

fix: enure orchestrator isn't hardcoded but rather infered
  dapr_agents/agents/base.py
Due: ruff-format, mypy, pytest

test(ci): include golden-file test for metadata schema. Break build if schema missing, post comment if breaking change
  .github/workflows/build.yaml
  pyproject.toml
  scripts/check_schema_compat.py
  tests/agents/test_metadata_schema_golden.py
Due: ruff-format, pytest

chore(format): ruff
  scripts/check_schema_compat.py
Due: pytest

fix: address pr comments
  dapr_agents/agents/base.py
  dapr_agents/agents/configs.py
  examples/09-durable-agent-hot-reload/README.md
  examples/09-durable-agent-hot-reload/agent.py
  quickstarts/README.md
  tests/agents/test_hot_reload.py
Due: ruff-format, mypy, pytest

fix: address pr comments
  dapr_agents/agents/base.py
  dapr_agents/agents/durable.py
  examples/09-durable-agent-hot-reload/agent.py
  quickstarts/README.md
  tests/agents/test_hot_reload.py
Due: ruff-format, mypy, pytest

chore(format): ruff
  examples/09-durable-agent-hot-reload/agent.py
Due: pytest

fix: ensure short/long term memory differ, formatting and import cleanup, gen new schema & update tests to address comments
  dapr_agents/agents/base.py
  dapr_agents/agents/components.py
  dapr_agents/agents/configs.py
  dapr_agents/agents/durable.py
  dapr_agents/agents/orchestrators/base.py
  dapr_agents/agents/orchestrators/llm/base.py
  dapr_agents/agents/standalone.py
  dapr_agents/observability/wrappers/agent.py
  dapr_agents/observability/wrappers/workflow.py
  dapr_agents/types/llm.py
  examples/01-llm-call-hugging-face/text_completion_with_tools.py
  examples/06-agent-mcp-client-streamablehttp/server.py
  quickstarts/05_agent_memory.py
  quickstarts/06_durable_agent_http.py
  quickstarts/07_durable_agent_pubsub.py
  quickstarts/10_durable_agent_tracing.py
  quickstarts/function_tools.py
  schemas/agent-metadata/index.json
  schemas/agent-metadata/latest.json
  schemas/agent-metadata/v0.13.0.json
  scripts/check_schema_compat.py
  tests/agents/durableagent/test_durable_agent.py
  tests/agents/orchestration/test_orchestration_strategies.py
  tests/tool/test_toolbox.py
Due: ruff-format, mypy, pytest

chore(format): pre-commit
  schemas/agent-metadata/index.json
  schemas/agent-metadata/latest.json
  schemas/agent-metadata/v0.13.0.json
Due: none

fix(ci): ensure correct scoped token
  .github/workflows/build.yaml
Due: none

fix(ci): we don't have access to the token on a pull_request trigger so convert the schema check to pull_request_target to run in scope of base
  .github/workflows/build.yaml
  .github/workflows/schema-compat-comment.yaml
  schemas/agent-metadata/v0.11.1.json
Due: none

fix: ensure pre-commit has pytest
  .pre-commit-config.yaml
Due: none

Path conditions:
  ruff-format: any of: ^(dapr_agents|tests)/ and \.py$
  mypy: any of: ^dapr_agents/ and \.py$
  pytest: any of: \.py$
